/** BASE **/

html {
	position: relative;
	min-height: 100%;
}

// Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,595959+100
@mixin background-gradient($color-start, $color-end) {
  $stop-1: 200px;
  $stop-2: 600px;

  background: $color-start; // Old browsers
  background: -moz-linear-gradient(top, $color-start, $color-start $stop-1, $color-end $stop-2); // FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,$color-start), color-stop($stop-1,$color-start), color-stop($stop-2,$color-end)); // Chrome,Safari4+
	background: -webkit-linear-gradient(top,  $color-start, $color-start $stop-1, $color-end $stop-2); // Chrome10+,Safari5.1+
	background: -o-linear-gradient(top,  $color-start, $color-start $stop-1, $color-end $stop-2); // Opera 11.10+
	background: -ms-linear-gradient(top,  $color-start, $color-start $stop-1, $color-end $stop-2); // IE10+
	background: linear-gradient(to bottom,  $color-start, $color-start $stop-1, $color-end $stop-2); // W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-start', endColorstr='$color-end',GradientType=0 ); // IE6-9
	background-attachment: fixed;
}

body {
	text-align:			 center;
	margin: 			0 0 50px;
	font-size:			10pt;
  @include background-gradient($color-background-start, $color-background-end-neutral);

	&.autobot {
	  @include background-gradient($color-background-start, $color-background-end-autobot);
	}
	&.decepticon {
	  @include background-gradient($color-background-start, $color-background-end-decepticon);
	}
}



body, td {
	font-family:		Verdana, sans-serif;
	color:				$color-text-default;
}

section {
	padding: 10px 20px 100px 40px;

	@media (max-width: $bootstrap-xs-max) {
		padding: 60px 0 25px;
		min-height: 100vh;
	}
}


[v-cloak] { display: none !important; }


.clearLeft { clear: left; }

.nowrap { white-space: nowrap;}



table { border-collapse:	collapse; }
td { padding:	0px; }

form {
	margin: 0px;

	input[type="text"],
	input[type="search"],
	input[type="password"],
	input[type="email"],
	select {
		padding: 3px;
		border-radius: 3px;
		margin: 0px;
	}

}


a {
	text-decoration:	none;
	color:				$color-link-default;
}
a:link, a:active, a:visited, a:hover {
	color: $color-link-default;
	/* Firefox outline fix */
	outline: none;
}
a:hover {
	text-decoration:	underline;
	color:				$color-link-default;

	// experimental
	text-decoration-skip: ink;
	-webkit-text-decoration-skip: skip;
}


hr {
	height:				1px;
	color:				#444;

	margin:				50px auto;

	clear:				both;
	text-align:			left;
	border-top:			1px solid #444;

	&:after {
		// content: url(/images/crab_black.gif);
		// content: url(/images/crab_white.gif);
		content: url(/images/crab_gray.gif);
		position: absolute;
		width: 16px;
		height: 16px;
		margin-top: -8px;
		left: 48%;

	}
}


img, a img {
	border-color:		BLACK;
}

img.shadow {
	border:		1px solid BLACK;
	box-shadow: 3px 3px 1px #222;
}




#centerContent {
	max-width:	600px;
	margin:		0 auto;
}

#watermark {
	position: fixed;
	z-index: 0;
	left: 25px;
	top: 25px;
}
.mm-opened #watermark { display: none; }
#watermark img {
	width: 100%;
	max-width: 200px;
}

.container-fluid {
	position: relative;
	z-index: 0;
}


/** AUDIO/VIDEO **/

.audio-container,
.audio-playlist-container {
	display: block;
	background-color: rgba(255, 255, 255, 0.12);
	font-family: Arial, sans-serif;
	font-size: 0.9em;

	& > audio,
	& > object,
	& > embed {
		display: block;
	}

	.media-attribution, .media-playlist {
		color: #eee;

		.media-title {
			&::before { content: '"'; }
			&::after { content: '"'; }
		}
	}

	&[align=right] {
		float: right;
		margin: 0 0 15px 15px;
	}
	&[align=left] {
		float: left;
		margin: 0 15px 15px 0;
	}
	&[align=center] {
		margin: 0 auto 15px;
	}
}
