/* ########## */
/*   COLORS   */
/* ########## */

$color-background-start: #000000;
$color-background-end-neutral: #595959;
$color-background-end-autobot: #B20000;
$color-background-end-decepticon: #6637A5;

$color-text-default: #fff;
$color-link-default: #EBEB64;

$color-btc-header-text-shadow-neutral: #222;
$color-btc-header-text-shadow-autobot: #861D1F;
$color-btc-header-text-shadow-decepticon: #5B2171;
