/* ########## */
/*   FOOTER   */
/* ########## */

$footerHeight: 50px;

// though referenced by ID, #footer is a semantic <footer> element
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
	height: $footerHeight;
	padding: 10px 15px 10px 10px;
	background: #333;
	border-top: 1px solid #666;
	/* ensure backwards compatibility */
	display: block;

	&.fancybox-margin {
		padding-right: 27px;
	}

	@media (max-width: $bootstrap-xs-max) {
		position: absolute;
		bottom: $footerHeight * -1;

		&.fancybox-margin {
			margin-right: 0;
			padding-right: 0;
		}
	}

	.footer-item  {
		display: inline-block;
		margin-left: 15px;
		height: 32px;
		vertical-align: middle;

		&:first-of-type  {
			margin-left: 0;
		}

		img, input[type="image"] {
			height: 30px;
		}

		@media (max-width: $bootstrap-xs-max) {
			margin-left: 10px;

			img, input[type="image"] {
				height: 24px;
			}
		}
	}

	#footer-search-form {
		input {
			margin-left: 5px;

			@media (max-width: $bootstrap-xs-max) {
				display: none;
			}
		}
	}

}
