/* ############# */
/*   GALLERIES   */
/* ############# */

#galleries .teletran-name,
#gallery .teletran-name {
	font-size: 1.0em;
	height: 70px;
}

.gallery-description {
	margin: 0 auto 50px;
	max-width: 800px;
	font-size: 0.9em;
	text-align: left;
	color: #ddd;
	background-color: #222;
	box-shadow: 1px 1px 5px #6E1C13;
	padding: 10px;
}
