/* ########## */
/*   POSTS    */
/* ########## */

.post {
	margin: 10px 0 35px;
	padding-bottom: 25px;
}

.post-blurb {
	padding-bottom: 25px;
}

.post-title, .post-title-full, .post-title-full a {
	font-family: Audiowide, Arial, Verdana, sans-serif;
	letter-spacing: 1px;
}

.post-title {
	font-size: 2.3em;
	border-bottom: 1px solid #333;
	color: WHITE;
	padding-bottom: 4px;
	margin-bottom: 25px;
	clear: both;
	text-align: left;
	text-shadow: 1px 1px 1px #000;
}

.post-title-full, .post-title-full a {
	font-size: 1.4em;
	text-align: left;
	color: #EBEB64;
	margin-bottom: 8px;
	clear: both;
	text-shadow: 1px 1px 1px #000;
}

.post-body-full {
	clear: both;
	margin-bottom: 15px;
	font-size: 1em;
	line-height: 1.6em;
	text-align: left;

	table {
		width: 100% !important;
		max-width: 100%;
	}
	td {
		padding: 5px 5px 10px;
		line-height: 1.2em;
		text-align: center;
	}
	td img {
		margin-bottom: 5px;
	}

	p {
		margin-bottom: 12px;
		margin-top: 0px;
	}

	a {
		color: #EBEB64;
		text-decoration: none;
	}
	a:hover { text-decoration: underline; }

	img {
		border: 1px solid BLACK;
		box-shadow: 3px 3px 1px #222;
		max-width: 100%;
	}
	td img {
		max-width: none;
	}

	ul li { list-style-type: square; }

	iframe { max-width: 100%; }

	// referenced in post content
	.teletran-thumbnail {
		box-shadow: none;
	}

	audio {
		width: 100%;
	}
}

// classes used in post body content
.post-image-left,
.post-image-right {
	margin-bottom: 10px;
}
.post-image-left {
	float: left;
	margin-right: 25px;
}
.post-image-right {
	float: right;
	margin-left: 25px;
}



.post-footer-full { font-size: 0.9em; }

.post-footer,
.adjacent-posts {
	width: 90%;
	background-color: #444;
	border: 0px solid #333;
	box-shadow: 2px 2px 3px #333;
	margin: 0 auto 10px;
	font-size: 1em;
	clear: both;
}

.post-footer {
	font-family: Arial;
	padding: 5px 25px;
	font-variant: small-caps;
	letter-spacing: 1px;
	font-weight: bold;
	clear: both;
	border-radius: 8px 8px 0 0;
	margin-top: 50px;
}
.post-footer-item {
	font-variant: normal;
	text-align: left;
	color: #DDD;
	margin: 5px 0;

	label {
		font-weight: bold;
	}

	& > a, & > span {
		font-weight: normal;
		white-space: nowrap;
		letter-spacing: 0px;
		margin-left: 5px;
		margin-right: 5px;
	}

}


.post-footer-full,
.reply-footer {
	color: #aaa;
	margin-top: 15px;

	b {
		font-size: 1.1em;
		color: WHITE;
	}

	a {
		color: #BFB260;
		text-decoration: none;
		font-size: 1.2em;

		&:hover {
			text-decoration: underline;
		}
	}

	 div {
		margin-bottom: 10px;
	}

}


.post-body-trimmed {
	text-align: left;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1.2em;
}

.adjacent-posts {
	text-align: center;
	font-family: Arial;
	font-size: 1em;
	padding: 5px 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	border-radius: 0 0 8px 8px;

	span {
		display: inline-block;
		width: 32%;
		white-space: nowrap;

		&:first-child { text-align: left; }
		&:last-child { text-align: right; }

		a:focus {
			text-decoration: none;
		}

		span {
			display: inline;
		}
	}

	@media (max-width: $bootstrap-xs-max) {
		span:first-child, span:last-child { font-size: 1.3em }
		a span { display: none; }
	}
}



.more-posts {
	width: 100%;
	background-color: #222;
	border: 0px solid #444;
	box-shadow: 2px 2px 3px #333;
	font-size: 1em;
	clear: both;

	padding: 10px;

	margin-top: 30px;
	margin-bottom: 50px;
	border-radius: 0 0 8px 8px;
	color: #999;
	text-align: center;

	a {
		font-size: 1.3em;
		margin: 0 10px;
	}
}

.no-more-posts {
}
